body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    transition:  0.3s;
    color: #fff;
    /* background-image: url(./bursts.svg); */
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 215%;
    /* 1365 */
}

#background-image{
    background-color: black;
    background-image: linear-gradient(to top,rgba(0,0,0),rgba(0,0,0,0) 60%,rgba(0,0,0) 120%), url(./NG-en-20220411-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 116vh;
    margin: -16.5em auto;
    z-index: 1; 
    border-bottom: 8px solid #222;
}
header {
    position: relative;
    margin: 03.5rem;
    height: 100%;
    margin-top: -1em;
}

.redButton {
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1.2rem;
    float: right;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 4rem;
}
/*  */
.text1{
    color: #fff;
    font-size: 42pt;
    margin-top: -10em;
}
.text2{
    color: #fff;
    font-size: 26px;
    font-weight: lighter;
    margin-top: -2.1em;
}
.text3{
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
}
.input-type{
    height: 7vh;
    width: 40%;
    font-size: large;
    cursor: text;
}
.button{
    height: 7.8vh;
    font-size:medium;
    font-weight: 900;
    color: #fff;
    background-color: red;
    cursor: pointer;
    border: none;
    word-wrap: break-word;
}
@media (max-width: 565px){
    #background-image{
        background-color: black;
        background-image: linear-gradient(to top,rgba(0,0,0),rgba(0,0,0,0) 60%,rgba(0,0,0) 120%), url(./NG-en-20220411-popsignuptwoweeks-perspective_alpha_website_small.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 150vh;
        z-index: 1; 
    }
    header {
        position: relative;
        margin: 03.5rem;
        height: 100%;
        margin-top: -1em;
    }
    
    .redButton {
        background-color: #e50914;
        line-height: normal;
        padding: 7px 17px;
        font-weight: 400;
        font-size: 1.2rem;
        float: right;
        color: #fff;
        text-decoration: none;
        border-radius: 3px;
        margin-top: 4rem;
    }
    /*  */
    .text1{
        color: #fff;
        font-size: 42pt;
        margin-top: -13.5em;
    }
    .text2{
        color: #fff;
        font-size: 26px;
        font-weight: lighter;
        margin-top: -2.1em;
    }
    .text3{
        color: #fff;
        font-size: 20px;
        font-weight: lighter;
    }
    .input-type{
        height: 7vh;
        width: 80%;
        font-size: large;
        cursor: text;
    }
    .button{
        height: 7.9vh;
        margin: 10px;
        font-size:medium;
        font-weight: 200;
        color: #fff;
        background-color: red;
        cursor: pointer;
        border: none;
        text-align: left;
        word-wrap: break-word;
    }
}
/*  */
.text4{
    font-size: 45px;
    margin-top: 10em;
    font-size: 3.125rem;
    text-align: end;
}
.text5{
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 4rem;
    text-align: end;
}

.tv-img{
    background-image: url(./tv.png),url(./Annotation\ 2022-03-24\ 161604.jpg);
    width: 100%;
    height: 75vh;
    background-repeat: no-repeat;
    margin-top: -18rem;
    background-position: left;
    border-bottom: 8px solid #222;
}
@media (max-width: 1178px){
    .text4{
        font-size: 45px;
        text-align: center;
    }
    
}
@media (max-width: 490px){
    .text4{
        font-size: 45px;
        text-align: center;
    }
    .tv-img{
        background-image: url(./tv.png),url(./Annotation\ 2022-03-24\ 161604.jpg);
        width: 100%;
        height: 75vh;
        background-repeat: no-repeat;
        margin-top: -22rem;
        background-position: -5.5em center;
        border-bottom: 8px solid #222;
    }
    
}
@media (max-width: 485px){
    .text4{
        font-size: 45px;
        text-align: center;
        align-items: center;
    }
    .tv-img{
        background-image: url(./tv.png),url(./Annotation\ 2022-03-24\ 161604.jpg);
        width: 100%;
        height: 75vh;
        background-repeat: no-repeat;
        background-size: 35em;
        margin-top: -15rem;
        background-position: center;
        border-bottom: 8px solid #222;
    }
    
}
@media (max-width: 780px){
    .text4{
        font-size: 45px;
        text-align: center;
    }
    .tv-img{
        background-image: url(./tv.png),url(./Annotation\ 2022-03-24\ 161604.jpg);
        width: 100%;
        height: 75vh;
        background-repeat: no-repeat;
        background-size: 35em;
        margin-top: -15rem;
        background-position: center;
        border-bottom: 8px solid #222;
    }
}
/*  */
.our-story-card-title {
    font-size: 3.125rem;
    margin-top: -8em;
    margin-left: 25rem;
}
.our-story-card-sub {
    font-size: 1.630rem;
    font-weight: 400;
    text-align: center;
}
.our-story-card-sub, .our-story-card-text {
    font-size: 1.625rem;
    font-weight: 400;
    text-align: center;
    margin-left: 15rem;
}
.phone-img{
    background-image: url(./mobile-0819.jpg);
    max-width: 100%;
    height: 80vh;
    border: 0;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 8px solid #222;
}

/* 1185 */
@media  (max-width: 5000px) {
    .our-story-card-title,.our-story-card-sub {
        font-size: 3.125rem;
        text-align:left;
        margin-left: 8.9em ;
    }
    .our-story-card-sub {
        font-size: 1.630rem;
        font-weight: 400;
        text-align: left;
        margin-left: 17em ;
    }.our-story-card-text {
        font-size: 1.625rem;
        font-weight: 400;
        text-align: center;
        margin-left: -15em ;
        padding-bottom: 14em;
    }
    .phone-img{
        background-image: url(./mobile-0819.jpg);
        max-width: 100%;
        height: 70vh;
        margin-top: 5em;
        background-position:right;
        background-repeat: no-repeat;
        border-bottom: 8px solid #222;
    }
}
@media  (max-width: 1233px) {
    .our-story-card-title,.our-story-card-sub {
        font-size: 3.125rem;
        text-align:center ;
    }
    .our-story-card-sub {
        font-size: 1.630rem;
        font-weight: 400;
        text-align: center;
        margin-left: 15em ;
    }.our-story-card-text {
        font-size: 1.625rem;
        font-weight: 400;
        text-align: center;
        margin-left: -15em ;
        padding-bottom: 14em;
    }
    .phone-img{
        background-image: url(./mobile-0819.jpg);
        max-width: 100%;
        height: 70vh;
        margin-top: 5em;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom: 8px solid #222;
    }
}

/*  */
#fourth-slide{
    text-align: center;
    margin: 03.9rem;
    border-bottom: 8px solid #222;
    
}
.text8{
    font-size: 3.2rem;
    margin-top: -2.6em;
    
}
.text9{
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 5em;
}
@media  (max-width: 700px){
    #fourth-slide{
        text-align: center;
        margin: 03.5rem;
    }
}
/*  */
.story-card-title {
    font-size: 3.125rem;
    margin-top: -9em;
    margin-left: 25rem;
}
.story-card-sub {
    font-size: 1.630rem;
    font-weight: 400;
    text-align: center;
   
}
.our-story-card ,.story-card-sub{
    font-size: 1.625rem;
    font-weight: 400;
    text-align: center;
    margin-left: 19rem;
}
.children-img{
    background-image: url(./AAAABdFTpLmANuJpYneLq8L5m7CunMCi8e8Nl4y7xaPVWzG3IeoDoq17egTQAthApKg_4sdRWdwuR8KadWu1frjL3JQImpwq.png);
    max-width: 100%;
    height: 80vh;
    border: 0;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 8px solid #222;
}

/* 1185 */
@media  (max-width: 5000px) {
    .story-card-title,.story-card-sub {
        font-size: 3.125rem;
        text-align:center ;
    }
    .story-card-sub {
        font-size: 1.630rem;
        font-weight: 400;
        text-align: center;
        
    }.our-story-card {
        font-size: 1.625rem;
        font-weight: 400;
        text-align: left;
        padding-bottom: 14em;
    }
    .children-img{
        background-image: url(./AAAABdFTpLmANuJpYneLq8L5m7CunMCi8e8Nl4y7xaPVWzG3IeoDoq17egTQAthApKg_4sdRWdwuR8KadWu1frjL3JQImpwq.png);
        max-width: 100%;
        height: 70vh;
        background-position: left;
        background-repeat: no-repeat;
        border-bottom: 8px solid #222;
    }
}
@media  (max-width: 1235px) {
    .story-card-title,.story-card-sub {
        font-size: 3.125rem;
        text-align:center ;
        /* margin-top: -23rem; */
    }
    .story-card-sub {
        font-size: 1.630rem;
        font-weight: 400;
        text-align: center;
        margin-left: 15em ;
    }.our-story-card {
        font-size: 1.625rem;
        font-weight: 400;
        text-align: center;
        margin-left: -15em ;
        margin-top: -45rem;
        padding-bottom: 14em;
    }
    .children-img{
        background-image: url(./AAAABdFTpLmANuJpYneLq8L5m7CunMCi8e8Nl4y7xaPVWzG3IeoDoq17egTQAthApKg_4sdRWdwuR8KadWu1frjL3JQImpwq.png);
        max-width: 100%;
        height: 70vh;
        margin-top: 5em;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom: 8px solid #222;
        padding-bottom: 14em;
    }
    #whole{
        margin-top: 18em;
       }
}
/*  */
footer{
    word-wrap: break-word;
    display: flex;
    justify-content: center;
}

#list-items1{
    padding-top: 4em;
    color: #222;
    font-weight: 700;
    line-height: 3em;
}
.li{
    line-height: 7em;
}
#list-items2{
    padding-top: 4em;
    color: #222;
    font-weight: 700;
    margin-left: 9em;
    line-height: 3em;
}
#list-items3{
    padding-top: 4em;
    color: #222;
    font-weight: 700;
    margin-left: 9em;
    line-height: 3em;
}
#list-items4{
    padding-top: 4em;
    color: #222;
    font-weight: 700;
    margin-left: 9em;
    line-height: 3em;
}
@media  (max-width: 1041px) {
    footer{
        display: flex;
        justify-content: center;
        width: 90% auto;
    }
    
    #list-items1{
        padding-top: 4em;
        color: #222;
        font-weight: 700;
        line-height: 3em;
    }
    .li{
        line-height: 7em;
    }
    #list-items2{
        padding-top: 4em;
        color: #222;
        font-weight: 700;
        margin-left: 9em;
        line-height: 3em;
    }
    #list-items3{
        padding-top: 4em;
        color: #222;
        font-weight: 700;
        margin-left: 9em;
        line-height: 3em;
    }
    #list-items4{
        padding-top: 4em;
        color: #222;
        font-weight: 700;
        margin-left: 9em;
        line-height: 3em;
    }
}
@media  (max-width: 999px) {
    footer{
        display:block ;
        justify-content: center; 
        text-align: center;
    }
    #list-items1{
        text-align: center;
        justify-content: center;
        padding-top: 4em;
        color: #222;
        font-weight: 700;
        line-height: 3em;
    }
    .li{
        line-height: 7em;
    }
    #list-items2{
        margin-right: 8.5em ;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 4em;
        color: #222;
        font-weight: 700;
        margin-left: 9em;
        line-height: 3em;
    }
    #list-items3{
        margin-right: 8.5em ;
        text-align: center;
        padding-top: 4em;
        color: #222;
        font-weight: 700;
        margin-left: 9em;
        line-height: 3em;
    }
    #list-items4{
        margin-right: 8.5em ;
        text-align: center;
        padding-top: 4em;
        color: #222;
        font-weight: 700;
        margin-left: 9em;
        line-height: 3em;
    }
}




